body {
  margin: 50px;
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}
button {
  height: 60px;
  width: 150px;
  background: white;
  border: solid red 3px;
  border-radius: 50px;
  color: red;
  font-size: 15px;
  font-weight: bold;
}
button:hover {
  background: red;
  color: white;
}
.hidden {
  display: none;
}
.visible {
  width: 250px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.square {
  width: 50px;
  height: 50px;
  background: white;
}
